<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>Add a Review from 0 (=bleh) to 5 (=super yummy)</h1>

      <%= render 'form'%>

      <%= link_to 'Back', @restaurant %>

    </div>
  </div>
</div>
